body {
  background-color: lightgray;
}

.container {
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
  font-size: 1.2rem;
  text-align: center;
}

.list-item {
  position: relative;
  font-size: 1.2rem;
  cursor: move;
  list-style-type: none;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #888;
}

.draggable-start {
  border: 2px dotted black;
}

.list-item.list-item-completed {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

.list-item.list-item-completed::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 4px 4px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 18px;
  width: 9px;
}

.delete {
  display: none;
}

.list-item:hover {
  background-color: #ef4444;
}

.list-item:hover .delete {
  display: block;
  cursor: pointer;
}

.list-data {
  align-items: center;
  padding-left: 0;
}

.span {
  float: right;
  clear: both;
}

.check {
  display: block;
}

.button {
  border: none;
  text-align: center;
  margin: 0 auto;
  border-radius: 3px;
  font-size: 1.2rem;
}

.inner {
  box-shadow: 5px 5px 5px;
}

.input {
  font-size: 1.1rem;
}

.list {
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
}
